body {
  font-family: monospace;
}

.resources-information {
  background-color: #fdf5df;
  color: #f92c85;
  padding: 20px;
  border-radius: 15px;
}

.comment-section {
  background-color: #5ebec4;
  color: #fdf5df;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.comments-title {
  background-color: #fdf5df;
  color: #5ebec4;
  padding: 5px;
  border-radius: 15px;
  margin-top: 20px;
}

.comment-container {
  padding: 20px;
}

.comment-item {
  background-color: #5ebec4;
  color: #fdf5df;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.comment-buttons {
  color: #5ebec4;
}
.delete-button {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.like-button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
