body {
  font-family: monospace;
}

.resources-information {
  background-color:#FDF5DF;
  color: #F92C85;
  padding: 20px;
  border-radius: 15px;
}

.comment-section {
  background-color:#5EBEC4;
  color: #FDF5DF;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.comments-title {
  background-color: #FDF5DF;
  color: #5EBEC4;
  padding: 5px;
  border-radius: 15px;
  margin-top: 20px;
}

.comment-container {
  padding: 20px;
}

.comment-item {
  background-color: #5EBEC4;
  color: #FDF5DF;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.comment-buttons{
 color: #5EBEC4;
}
.delete-button{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.like-button{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
