body {
  font-family: monospace;
}

.resources-information {
  background-color: rgb(113, 152, 186);
  padding: 20px;
  border-radius: 15px;
}

.comment-section {
  background-color: rgb(72, 121, 163);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.comments-title {
  background-color: rgb(80, 92, 102);
  padding: 5px;
  border-radius: 15px;
  margin-top: 20px;
}

.comment-container {
  padding: 20px;
}

.comment-item {
  background-color: rgb(83, 137, 184);
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
}
